body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

h1 {
    font-size: 2rem;
    color: white;
}
